extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/style.css')

block append content



    h3 Showing results for
    div.search-result
        p
            if formData.locationOption === 'automatic'
                | Location automatically detected as (#{formData.lat},#{formData.lng}).
            else
                | Search location #{formData.street}, #{formData.suburb}, #{formData.country}.

            |Showing results within a radius of #{formData.radius} km.
            |Activity type: #{formData.activityType}.
            if formData.goodWeather === 'on'
                | Only showing results with good weather, #{formData.weatherDay} days from now

    div.flex-containter
        div.form-wrapper

            if(trailresult.length === 0)
                div.no-result
                    p Sorry, there are no results for your search
                    div.search-again-button
                        a.pure-button(href='/find-activities') Search Again

            else
                for result in trailresult
                    div.title
                        resultHeader !{result.name}
                        div.weather-result
                            if formData.weatherDay === "0"
                                | Weather today:
                            else
                                | In #{formData.weatherDay} days time:
                            | &nbsp;#{result.weatherSummary}
                            br
                            | Temp:
                            | &nbsp;#{result.temp}


                        div.summary-text
                            p
                                span.activity-titles Location:
                                | &nbsp;#{result.location}
                            p
                                span.activity-titles Directions:
                                | &nbsp;#{result.direction}
                            p
                                span.activity-titles Description:
                                | &nbsp;#{result.description}

        div.map-wrapper
            #map

    script(type='text/javascript').
        var locationData = !{locationData}
    script(src = "javascripts/results.js")

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDhSugVEeZX0fAPoffFbBz19bGPhR2swmY&callback=drawActivitiesOnMap', async='', defer='')


